.agents{
    height: max-content;
}
.agents h6{
    color: rgb(238, 98, 107);
    font-size: 17px;
    font-weight: 700 !important;
    text-transform: uppercase;
    font-weight: 700;
}
.agents h2{
    
    font-size: 60px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;
    line-height: 56px;
}
.agents p{
    margin:50px 0;
    font-size: 18px;
    line-height: 29px;
    color: #4a4a4a;
    font-weight: 500;

}
.agents .form{
    margin-top: 50px !important;
}
.agents .map{
    margin-top: 40px !important;
    margin-bottom: 40px !important;

}