.items {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 15px #00000026;
    padding: 33px 0px 33px 12px;
    background-color: #fff;
    margin-top: 50px;
    height: 110px;
}

.items img {
    height: 47px;
    float: left;
    margin-right: 20px;
    vertical-align: middle;
 }
.items h6 {
    color: black !important;
    font-size: 18px !important;
    font-weight: 600;
    text-align: center;
    text-wrap: wrap;
    padding-top: 10px;

}

.items h6 span {
    font-size: 15px;
    color: #aaaaaa;
    font-weight: 400;
}