 
.navbar{
    width: 100% !important;
    height: max-content !important;
    padding: 30px 100px !important;
    position: fixed !important;
    top: 70px !important;
    z-index: 4;
    background-color: white;

}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: flex;
    /* flex-wrap: inherit; */
    align-items: center;
    justify-content: space-between
}
.change-top{
    top: 0 !important;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);

}
.navbar-brand{
    font-size: 36px !important;
    font-weight: 700;
}
.list{
    display: flex !important;
    gap: 27px !important;
}
.nav-link{
    font-size: 20px !important;
    font-weight: 500 !important;
    color: rgb(41, 40, 40) !important;
    text-wrap: nowrap;
}
.navbar a:hover{
    color: rgb(255, 0, 0) !important;
}
.navbar-collapse {
    flex-grow: 0 !important;
    gap: 35px;
    align-items: center;
}
 .wrapper{
    width: 14rem !important;
    max-width: 100%;
    position: relative;
  }
.wrapper .oval{
    border: 1px solid rgb(0, 0, 0);
    background-color: black;
    color: white;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
    padding: 0.9rem !important;
    width: 100%;
  }
.wrapper .oval:hover{
    color:rgb(243, 85, 37); 
    background-color: black;   

}
.wrapper .circl{
    background-color:rgb(243, 85, 37);    ;
    border: 1px solid rgb(0, 0, 0);
    color: white;
    height: 98%;
    position: absolute;
    right: 77%;
    aspect-ratio: 1;
    padding: 5px 14px !important;
    border-radius: 40px;
    font-size: 19.5px;
    margin-right: 5px;
}
.wrapper .circl:hover{
    color:rgb(243, 85, 37); 

}

@media screen and (max-width:992px) {
    .navbar{
        width: 100% !important;
        height: max-content !important;
        padding: 10px 100px !important;
        position: absolute !important;
        top: 0px !important;
    }
    .navbar-collapse {
        flex-grow: 0 !important;
        gap: 10px !important;
        align-items: center;}
} 

@media screen and (max-width:  1092px) {
    .wrapper{
        width: 10rem !important;
    }  
    .wrapper .oval{
        border: 1px solid rgb(0, 0, 0);
        background-color: black;
        color: white;
        border-radius: 50px;
        font-size: 15px;
        font-weight: 500;
        padding: 0.8rem  !important;
        padding-left: 2.4rem !important;
        width: 100%;
    }
    .wrapper .circl{
        color: white;
        height: 97%;
        right: 72%;
        padding: 5px 14px !important;
        border-radius: 40px;
        font-size: 19.5px;
        margin-right: 5px;
    }  
}